    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="img/logo.png" alt=""> </a>
                        <p>{{ footer.left_text|default:"Empowering communities through education, health initiatives, and cultural preservation." }}
                            </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Newsletter</h4>
                        <p>{{footer.newsletter_text|default:"Stay updated with our latest news and offers."}}
                        </p>
                        <div class="form-wrap" id="mc_embed_signup">
                            <form target="_blank"
                                action=""
                                method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                    required="" type="email">
                                <button class="btn btn-default text-uppercase"><i class="ti-angle-right"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                </div>

                                <div class="info"></div>
                            </form>
                        </div>

                        {% comment %} <div class="social_icon">
                            <a href="index.html#"> <i class="ti-facebook"></i> </a>
                            <a href="index.html#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="index.html#"> <i class="ti-instagram"></i> </a>
                            <a href="index.html#"> <i class="ti-skype"></i> </a>
                        </div> {% endcomment %}

                    <div class="social_icon">
                        {% if footer.facebook_url %}
                            <a href="{{ footer.facebook_url }}"><i class="ti-facebook"></i></a>
                        {% endif %}
                        {% if footer.twitter_url %}
                            <a href="{{ footer.twitter_url }}"><i class="ti-twitter-alt"></i></a>
                        {% endif %}
                        {% if footer.instagram_url %}
                            <a href="{{ footer.instagram_url }}"><i class="ti-instagram"></i></a>
                        {% endif %}
                        {% if footer.skype_url %}
                            <a href="{{ footer.skype_url }}"><i class="ti-skype"></i></a>
                        {% endif %}
                        {% if youtube.skype_url %}
                            <a href="{{ footer.youtube_url }}"><i class="ti-youtube"></i></a>
                        {% endif %}
                    </div>


                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <p>{{footer.contact_address|default:""}}</p>
                        <div class="contact_info">
                            {% if footer.contact_phone %}
                                <p><span class="ti-mobile"></span>{{ footer.contact_phone }}</p>
                            {% endif %}
                            {% if footer.contact_email %}
                                <p><span class="ti-email"></span>{{ footer.contact_email }} </p>
                            {% endif %}
                            {% if footer.contact_website %}
                                <p><span class="ti-world"></span>{{ footer.contact_website }} </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="" target="_blank">Jiraginapor Foundation</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>